*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1abc9c;
    font-family: 'Gabarito', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    color: white;
}

.form{
    width: 25rem;
    height: 25rem;
    margin: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

.title{
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.7rem;
    font-weight: 700;
    background-color: #16a085;
    border-radius: 10px 10px 0 0;
}

.form-inner{
    height: 75%;
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;
}

.user-mail{
    position: relative;
    margin-bottom: 1rem;
}

.user-mail span{
    background-color: #16a085;
    height: 3rem;
    font-size: 1.5rem;
    width: 2.5rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 0 0 5px;
}

.user-mail input{
    height: 3rem;
    width: 100%;
    outline: none;
    padding-left: 3rem;
    border-radius: 5px;
    font-size: 1rem;
    border: 1px solid #16a085;
}


.user-password{
    position: relative;
    margin-bottom: 0.5rem;
}

.user-password span{
    background-color: #16a085;
    height: 3rem;
    font-size: 1.2rem;
    width: 2.5rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 0 0 5px;
}

.user-password input{
    height: 3rem;
    width: 100%;
    outline: none;
    padding-left: 3rem;
    border-radius: 5px;
    font-size: 1rem;
    border: 1px solid #16a085;
}

.form-inner > a{
    margin-bottom: 1rem;
    text-decoration: none;
    color: #16a085;
    width: fit-content;
}


.form-inner > input{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    height: 3rem;
    color: white;
    background-color: #16a085;
    border: none;
    border-radius: 5px;
}


.form-inner > p{
    color: black;
    text-align: center;
}

.form-inner p > a{
    text-decoration: none;
    color: #16a085;
}

